body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: url('main.webp') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.weather-container {
    margin-top: 200px;
    /* background-color: rgba(255, 255, 255, 0.4); */
    padding: 20px;
    padding-left: 35px;
    border-radius: 20px;
    text-align: center;
    display: fixed;
}

input {
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#weather-info {
    margin-top: 20px;
}

h1 {
    font-size: 2em;
    color: #333;
}

h2 {
    font-size: 1.5em;
    color: #555;
}

p {
    font-size: 1.2em;
    color: #333;
}